.artist-text {

		h1, h2, h3, h4, h5 {
			text-transform: uppercase;
			margin-top: 0px;
			color: @link;
			letter-spacing: 1px;
			background: #FFFFFF;
			padding: 10px 20px;
			margin-bottom: 10px;
			font-weight: 700;

		}

		h1, h2 {
			font-family: 'Raleway', sans-serif;
			font-weight: 200;
		}


		p {
			padding: 10px 20px;
			background: #FFFFFF;


		}

		hr {
			border: 1px solid #FFFFFF;
			margin: 20px 0px;
		}


}

.artist-button {
			margin-bottom: 10px;


	a {
		padding: 10px 20px;
		background: @link;
		display: inline-block;
		color: #FFF;
		font-family: 'Raleway', sans-serif;
			font-weight: 200;
			}

	a:hover {
		background: #FFFFFF;
		color: @dark-grey;
	}
}

.past-dates {
		
		margin-bottom: 10px;
		font-size: 11.5px;
		padding: 18px 20px 10px 20px;
		background: #FFFFFF;
		line-height: 17px;

		h5 {
			text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2px;
				color: @link;
		}

		li {
			margin-bottom: 8px;
		}

		strong {
			text-transform: uppercase;
			font-size: 95%;
			letter-spacing: 1px;	
			display: block;
			line-height: 15px;	}
}

.video {
		position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 35px;
	    height: 0;
	    overflow: hidden;
	    margin-bottom: 10px;

	}
																			
.video iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
	}

.soundcloud {
	margin-bottom: 10px;

}




.modal-dialog {}
.thumbnail {margin:20px 0px 10px 0px;
display: block;
padding: 0px;
line-height: 1.42857143;
background-color: #ffffff;
border: 0px solid #dddddd;
border-radius: 0px;
.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1);

}

.brick {
	max-height: 100px;
	overflow: hidden;
}

.thumbnail:hover {
	.opacity(@opacity: 0.5);
}

.carousel-control.left,.carousel-control.right{
  background-image:none;
}

.modal-content {
	background: rgba(255, 255, 255, 0.75);
	border: 0px solid rgba(0, 0, 0, 0.2);
border-radius: 0px;
}

.modal-header {
border-bottom: 0px solid #e5e5e5;
	background: @pink-alpha;
	h3 {
		color: #FFFFFF;
		text-transform: uppercase;
		letter-spacing: 2px;
font-size: 14px;
font-weight: 700;
	}
}

.modal-dialog {
width: 800px;

}

.modal-body {

	
	

	.carousel-control {
		font-family: 'Karla', sans-serif;
position: absolute;
top: 50%;
bottom: 0;
width: 15%;
-moz-opacity: 0.2;
-khtml-opacity: 0.2;
-webkit-opacity: 0.2;
opacity: 0.2;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
filter: alpha(opacity=20);
font-size: 20px;
color: #000000;
text-align: center;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.carousel-control.left {
text-align: left;
padding-left: 20px;
}

.carousel-control.right {
text-align: right;
padding-right: 20px;
}


}


.modal-footer {

	border-top: 0px solid #e5e5e5;

	.btn-default {
		font-family: 'Karla', sans-serif;
color: #ffffff;
background-color: @pink;
border: 0px solid #ffffff;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 10.5px;
font-weight: 700;
}
}