.artist-text {

		h3 {
			text-transform: uppercase;
			margin-top: 0px;
			color: @light-light-grey;
			letter-spacing: 3px;
			background: @black;
			padding: 10px 20px;
			margin-bottom: 10px;
			font-weight: 700;

		}

		p {
			padding: 10px 20px;
			background: #FFFFFF;


		}

		hr {
			border: 1px solid @light-light-grey;
		}

		

		


}

.artist-button {
			margin-bottom: 10px;


	a {
		padding: 10px 20px;
		background: #FFFFFF;
		display: inline-block;
			}

	a:hover {
		background: @pink;
		color: #FFF;
	}
}

.past-dates {
					margin-bottom: 10px;


		padding: 10px 20px;
		background: #FFFFFF;

		h5 {
			text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2px;
				color: @black;
		}

		li {
			margin-bottom: 5px;
		}

}