body {
	background: url('/assets/img/main/checkered_pattern.png');
	font-family: 'Raleway', sans-serif;
	color: @body;
	font-size: 12px;
	line-height: 19px;
}



a {
	color: @link;
	.transition(@duration:0.35s, @ease:ease-out);
	text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2px;
		font-size: 10px;

}

a:hover {
	
	text-decoration: none;
	color: @dark-grey;
}

ul {
	list-style-type: none;
	margin:0px;
	padding:0px;
}

h5 {
	font-size: 13px;
}

h1, h2 {
			font-weight: 300;
		}

.cont {
	background: @fundo;
	padding-top: 60px;
	padding-bottom: 60px;
	border-top:5px solid #000;		
}

.news {
	

	li {
		margin-bottom: 30px;
	}

	h4, h6 {
		margin-top: 0px;
		font-weight: 200;
		text-transform: uppercase;

		a {
		font-size: 100%;
		font-weight: 300;
		color: #000;

		&:hover {
			color: @dark-grey;
		}

		}
	}
}


.section-title {
	text-transform: uppercase;
	font-size: 160%;
	padding-bottom: 10px;
border-bottom: 1px solid @border;
margin-bottom: 0px;


}

.modal-dialog {}
.thumbnail {margin:20px 0px 10px 0px;
display: block;
padding: 0px;
line-height: 1.42857143;
background-color: #ffffff;
border: 0px solid #dddddd;
border-radius: 0px;

}

.brick {
	max-height: 100px;
	overflow: hidden;
}

.thumbnail:hover {
	.opacity(@opacity: 0.5);
}

.carousel-control.left,.carousel-control.right{
  background-image:none;
}

.artists-bookings {
	li {margin-bottom: 30px;}

	li img {
	}

	a {
		color: #ffffff;
	}

	a:hover {
		color:  transparent; 
		text-shadow: 0px 1px 0px  rgba(0, 0, 0, 0.35); 

	}

	h1 {
		position: absolute;
		z-index: 2;
		font-family: 'Raleway', sans-serif;
		font-size: 28px;
		line-height: 28px;
		letter-spacing: -1px;
		font-weight: 100;
		width:77px;
		padding-left: 15px;
		padding-top: 15px;
		height: 100px;
		margin: 0px;
		word-break:break-all;
	}

	.real-img {
		position: absolute;
		z-index: 0;

	}

	.blue-img {
		position: relative;
		z-index: 1;
		.transition(@duration:0.5s, @ease:linear);
		.opacity(@opacity: 1);

		img {
			
		}
		
	}

	.blue-img:hover {
		.opacity(@opacity: 0.25);
		overflow: hidden;

		img {
			
		}

	}
}


.carousel {
  .item {
    left: 0 !important;
    .transition(opacity 8s); //adjust timing here
  }
  .carousel-control {
    background-image: none; // remove background gradients on controls
  }
  // Fade controls with items
  .next.left,
  .prev.right {
    opacity: 1;
    z-index: 1;
  }
  .active.left,
  .active.right {
    opacity: 0;
    z-index: 2;
  }
}

.txt {
	margin-top: 30px;
	p {
			padding: 10px 20px;
			background: #FFFFFF;


		}
}


