<div class="row">
	<div class="col-lg-12"> 
		<div id="myCarousel" class="carousel slide">
 
		  <!-- Carousel items -->
		  <div class="carousel-inner">

		    <div class="active item">
		    	<img src="/assets/img/artists/hergost-banner.jpg" class="img-responsive"/></div>

		    {% for post in site.posts %}
		    	{% if post.layout == 'artist' %}
			    <div class="item"><a href="{{ post.url }}"><img src="/assets/img/artists/{{ post.images[0] }}" class="img-responsive"/></div></a>
			    {% endif %}
		 	 {% endfor %}
		 	 </div>
  
	</div>
		
	</div>
</div>