---
layout: default
---

<div class="row">
	<div class="col-lg-12"> 
		<img src="/assets/img/artists/{{ page.images[0] }}" class="img-responsive"/>
	</div>
</div>

<div class="row ">
	<div class="col-lg-12 ">
		<div class="cont">
			<div class="col-lg-5 col-lg-offset-1 artist-text">
				
				{{ content }}

			</div>

			<div class="col-lg-4 col-lg-offset-1">
									<div class="artist-button"><a href="#">Book {{ page.title }}</a></div>
				{% if page.video != null %}
				<div class='video'>{{ page.video[0] }}</div>
				{% endif %}
				{% if page.soundcloud != null %}
				<div class='soundcloud'>{{ page.soundcloud[0] }}</div>
				{% endif %}

					<div class="past-dates">
						<h5>past dates</h5>
						<ul>
						{% for dates in page.past-dates %}
						    <li>{{ dates }}</li>
						{% endfor %}						
					</ul>

				</div>

				<div class="artist-button"><a href="/downloads/press-kit/{{ press-kit.page }}" target="_blank">Download press-kit</a></div>


					


			</div>
			<div class="clearfix"></div>

		</div>

	</div>
</div>

