---
layout: default
---

<div class="row">
	<div class="col-lg-12"> 
		<img src="/assets/img/artists/{{ page.images[0] }}" class="img-responsive"/>
	</div>
</div>

<div class="row ">
	<div class="col-lg-12 ">
		<div class="cont">
			<div class="col-lg-5 col-lg-offset-1 artist-text">
				
				{{ content }}

			</div>

			<div class="col-lg-4 col-lg-offset-1">
									<div class="artist-button"><a href="#">Book {{ page.title }}</a></div>

				<div class='video'>{{ page.video[0] }}</div>

					<div class="past-dates">
						<h5>past dates</h5>
						<ul>
		                <li >Adelaide Arts Festival - 14 March 2013</li>
						<li > Sonic Arts Festival, Amsterdam - 23 Feb 2013</li>
						 <li > Unsound Festival Krakow - 19 Oct 2012</li>
						 <li > MUTEK Festival, Montreal - 20 May 2012</li>
						 <li > Communikey Festival, Boulder - 28 April 2012</li>
						 <li > Unsound Festival New York - 21 April 2012</li>
						</ul>

				</div>

									<div class="artist-button"><a href="{{ page.page-link }}" target="_blank">{{ page.page }}</a></div>


					


			</div>
			<div class="clearfix"></div>

		</div>

	</div>
</div>

