---
layout: default
---

<div class="row">
	<div class="col-lg-12"> 
		<img src="/assets/img/artists/{{ page.images[0] }}" class="img-responsive"/>
	</div>
</div>

<div class="row ">
	<div class="col-lg-12 ">
		<div class="cont">
			<div class="col-lg-5 col-lg-offset-1 artist-text">
				
				{{ content }}

			</div>

			<div class="col-lg-4 col-lg-offset-1">
									<div class="artist-button"><a href="#">Book {{ page.title }}</a></div>
													<div class="artist-button"><a href="/downloads/press-kit/{{ press-kit.page }}" target="_blank">Download press-kit</a></div>

				{% if page.video != null %}
				<div class='video'>{{ page.video[0] }}</div>
				{% endif %}
				{% if page.soundcloud != null %}
				<div class='soundcloud'>{{ page.soundcloud[0] }}</div>
				{% endif %}

				
	<div class="clearfix"></div>

					<div class="past-dates">
						<ul>
						{% for dates in page.past-dates %}
						    <li>{{ dates }}</li>
						{% endfor %}						
					</ul>




				</div>



    
    	<div class="row" >
    		{% if page.gallery[0] != null %}
    		{% for gallery in page.gallery %}
	      <div class="col-lg-6 col-sm-4 col-xs-6 brick"><a title="{{page.title}}" href="#"><img class="thumbnail img-responsive" src="/assets/img/artists/{{gallery}}"></a></div>
	      {% endfor %}
	      {% endif %}

	      
    </div>


<div class="modal" id="myModal" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button class="close" type="button" data-dismiss="modal">×</button>
		<h3 class="modal-title"></h3>
	</div>
	<div class="modal-body">
		<div id="modalCarousel" class="carousel">
          <div class="carousel-inner"></div>
          <a class="carousel-control left" href="#modaCarousel" data-slide="prev">«</span></a>
          <a class="carousel-control right" href="#modalCarousel" data-slide="next">»</span></a>
        </div>
	</div>
	
   </div>
  </div>
</div>
 


			</div>
			<div class="clearfix"></div>

		</div>

	</div>
</div>

<script type="text/javascript">
/* copy loaded thumbnails into carousel */
$('.row .thumbnail').on('load', function() {
  
}).each(function(i) {
  if(this.complete) {
  	var item = $('<div class="item"></div>');
    var itemDiv = $(this).parents('div');
    var title = $(this).parent('a').attr("title");
    
    item.attr("title",title);
  	$(itemDiv.html()).appendTo(item);
  	item.appendTo('.carousel-inner'); 
    if (i==0){ // set first item active
     item.addClass('active');
    }
  }
});

/* activate the carousel */
$('#modalCarousel').carousel({interval:false});

/* change modal title when slide changes */
$('#modalCarousel').on('slid.bs.carousel', function () {
  $('.modal-title').html($(this).find('.active').attr("title"));
})

/* when clicking a thumbnail */
$('.row .thumbnail').click(function(){
    var idx = $(this).parents('div').index();
  	var id = parseInt(idx);
  	$('#myModal').modal('show'); // show the modal
    $('#modalCarousel').carousel(id); // slide carousel to selected
  	
});


</script>

